<div class = "header">
		<div class = "title class-md-12">
			<%= image_tag("logo.png", class:"img-responsive")%>
		</div>
		<div class = "sub-title class-md-12">
			<i>"Know answers to the unknown..! Voice your opinion..!"</i>
			<div class = "share">
				<a href="whatsapp://send?text=Tamilnadu Virtual Elections..! Check it out ! http://qperweek.herokuapp.com" data-action="share/whatsapp/share"><%= image_tag("whatsapp.png", class:"share-logo")%></a>
				<iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fqperweek.herokuapp.com&layout=button&size=small&mobile_iframe=true&width=59&height=20&appId" width="59" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
				<a onclick="window.open('https://twitter.com/intent/tweet?text=Tamilnadu Virtual Elections..! Check it out ! http://qperweek.herokuapp.com', 'newwindow', 'width=700, height=700'); return false;">
				<%= image_tag("twitter.png", class:"share-logo")%></a>
			</div>	
	  </div>
</div>
<div class = "container main-div">
	<% if flash[:success].present? %>
		<div class="alert alert-success alert-dismissable fade in">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<%= flash[:success]%>
		</div>
	<% end %>

	<% if flash[:danger].present? %>
		<div class="alert alert-danger alert-dismissable fade in">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<% unless flash[:danger].kind_of?(Array) %>
				<%= flash[:danger]%>
			<% else %>
				<% flash[:danger].each do |error| %>
					<%=error %><br/>
				<% end %>			
			<% end %>
		</div>
	<% end %>
	<div class = "col-md-6 left-div">
		<div class = "timer" id="countdown"></div>
	</div>
	<div class = "col-md-6 right-div">
		<%=form_for :tamilnadu_poll, url: tamilnadu_polls_submit_path do |f| %>
			<div class = "question-space">
				<p> Who would you vote for in the upcoming election? </p>
			</div>
			<div class = "options-space">
				<div class="options col-md-6 col-xs-6">
					<div class = "option">
					<label for="kamal">
						<%= f.radio_button :choice, 'kamal', class:"radio" , id: 'kamal',checked: true%>
						 KamalHassan</label>
					 </div>
					<div class = "option">
						<label for="rajini">
						<%= f.radio_button :choice, 'rajini', class:"radio",id: 'rajini'%>
						 RajiniKanth</label>
					 </div>
				</div>
				<div class="options col-md-6 col-xs-6">
					<div class = "option">			
						<label for="aiadmk">
						<%= f.radio_button :choice, 'aiadmk', class:"radio" , id: 'aiadmk'%>
						 AIADMK</label>
					 </div>
					<div class = "option">			
						<label for="dmk">
						<%= f.radio_button :choice, 'dmk', class:"radio",id: 'dmk'%>
						 DMK</label>
					 </div>
				</div>
				<div class="options col-md-6 col-xs-6">
					<div class = "option">			
						<label for="pmk">
						<%= f.radio_button :choice, 'pmk', class:"radio" , id: 'pmk'%>
						 PMK</label>
					 </div>
					<div class = "option">			
						<label for="dmdk">
						<%= f.radio_button :choice, 'dmdk', class:"radio",id: 'dmdk'%>
						 DMDK</label>
					 </div>
				</div>
				<div class="options col-md-6 col-xs-6">
					<div class = "option">			
						<label for="bjp">
						<%= f.radio_button :choice, 'bjp', class:"radio" , id: 'bjp'%>
						 BJP</label>
					 </div>
					<div class = "option">			
						<label for="congress">
						<%= f.radio_button :choice, 'congress', class:"radio",id: 'congress'%>
						 Congress</label>
					 </div>
				</div>
				<div class="options col-md-12 col-xs-6">
					<div class = "option">			
						<label for="other">
						<%= f.radio_button :choice, 'other', class:"radio" , id: 'other'%>
						 Others</label>
					 </div>
					
				</div>
			</div>
			<div class = "submit-section">
				<div class="form-group">
					<%=f.email_field :email, class:"form-control",placeholder: "Email (required)" , required: true%>
				</div>
				<div><span class = "text-field">Click the button below if you are 18 or above!</span></div>
				<label class="switch">
					<%= f.check_box :voter, {class: ""}, "adult", "child" %>
					<span class="slider round"></span>		
				</label>
				<div class = "submit-button">
					<%= button_tag(type: 'submit', class: "btn btn-success submit-button", style: "font-family: 'Ruda', serif; font-size: 20px;" , required: true) do %>
						<span class="glyphicon glyphicon glyphicon-ok">&nbsp;Save</span>
					<% end %>
				</div>
			</div>
		<%end%>
	</div>
</div>


