<!DOCTYPE html>
<html>
  <head>
    <title>TamilNadu Virtual Elections- Qperweek</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'qplogo.png', rel: 'shortcut icon', type: 'image/png'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <script type="text/javascript" src="http://cdn.rawgit.com/hilios/jQuery.countdown/2.1.0/dist/jquery.countdown.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Concert+One|Ruda" rel="stylesheet">
  </head>
  <body>
    <div class = "header">
      <div class = "title class-md-12">
        <%= link_to root_path do%> <%= image_tag("logo.png", class:"img-responsive")%><% end %>
      </div>
      <div class = "sub-title class-md-12">
        <i>"Know answers to the unknown..! Voice your opinion..!"</i>
        <div class = "share">
        <a href="whatsapp://send?text=Tamilnadu Virtual Elections..! Check it out ! http://qperweek.herokuapp.com" data-action="share/whatsapp/share"><%= image_tag("whatsapp.png", class:"share-logo")%></a>
        <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fqperweek.herokuapp.com&layout=button&size=small&mobile_iframe=true&width=59&height=20&appId" width="59" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        <a onclick="window.open('https://twitter.com/intent/tweet?text=Tamilnadu Virtual Elections..! Check it out ! http://qperweek.herokuapp.com', 'newwindow', 'width=700, height=700'); return false;">
        <%= image_tag("twitter.png", class:"share-logo")%></a>
      </div>  
      </div>
    </div>
    <%= yield %>
    <%= link_to tamilnadu_polls_chart_path do%><span class="label label-success">Results-Click here!</span><%end%>
    <div class = "footer copyright">
      <p>&copy; All rights reserved. Qperweek-2017.</p> 
    </div>
  </body>
</html>
